<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Seguimiento de proyectos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur magna orci, sodales id dapibus eget, rhoncus id magna. Curabitur tristique arcu ut dictum pulvinar. Vestibulum consectetur pretium dolor at malesuada. Nunc sagittis turpis magna, non fermentum turpis interdum ac. Nulla ullamcorper id neque et auctor. Nulla non tempor tortor. Nullam nibh risus, pellentesque ut vulputate a, sodales a purus. Morbi dignissim massa et orci finibus pretium vehicula ac sapien. Vivamus nec ligula sit amet elit fringilla gravida. Maecenas nibh nisl, elementum quis enim in, scelerisque auctor augue. Nam efficitur lacus vitae ante efficitur rhoncus.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Ver más &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Proyectos</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to 'Ver proyectos', proyectos_path,
          :class => "btn btn-secondary" %></p>
    </div>
    <div class="col-md-4">
      <h2>Clientes</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">Ver clientes</a></p>
    </div>
    <div class="col-md-4">
      <h2>Recursos</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Ver recursos</a></p>
    </div>
  </div>
  <hr>
</div> <!-- /container -- >
