<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Recursos', recursos_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo Recurso</li>
  </ol>
</nav>


<h2>Nuevo Recurso</h2>

<%= render 'form' %>

<%= link_to 'Atrás', recursos_path,
    :class => "btn btn-secondary btn-sm" %>




